.one {
	animation-delay: .2s;
}
.two {
	animation-delay: .4s;
}
.three {
	animation-delay: .6s;
}
.four {
	animation-delay: .8s;
}
.five {
	animation-delay: 1s;
}
.six {
	animation-delay: 1.2s;
}
.seven {
	animation-delay: 1.4s;
}
.eight {
	animation-delay: 1.6s;
}