.app {
	background-color: #f0f2ef;
	height: 100vh;
	text-align: center;
}

.header {
	background-color: #013369;
	padding: 2px;
	text-align: left;
	border-bottom: 5px #D50A0A solid;
}

h1 {
	font-size: 24px;
	color: white;
}

.headerBtn { 
	background-color: #013369;
	border: none; 
	color: white; 
	padding: 5px 10px; 
	font-size: 16px;
	cursor: pointer;
	outline: none;
}
  
.headerBtn:hover {
	color: #D50A0A;
}

.img-small {
	display: flex;
	height: 45px;
	width: 45px;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.img-large {
	height: 240px;
}

img {
	height: 100%;
}

.result-name {
	font-size: 16px;
	margin-left: 10px;
}

.result-team {
	font-size: 14px;
	margin-left: 10px;
}

.result-pos {
	font-size: 18px;
	margin-right: 20px;
	vertical-align: middle;
	color: #666;
}