.App {
  text-align: center;
}

.header {
  background-color: navy;
  padding: 2px;
  text-align: left;
  border-bottom: 5px red solid;
}

h1 {
	font-size: 24px;
	color: white;
}

.headerBtn { 
	background-color: navy;
	border: none; 
	color: white; 
	padding: 5px 10px; 
	font-size: 16px;
	cursor: pointer;
	outline: none;
}
  
.headerBtn:hover {
	color: red;
}